.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
	clear: both;
}

// fonts
$amiri: 'Amiri', serif;
$roboto: 'Roboto Condensed', sans-serif;


// colors
$veryLightGrey: #fbfbfb;
$mediumLightGrey: #f7f7f7;
$veryLightBlue: #dff3fd;
$blue: #0266b3;
$yellow: #ffe1ad;
$lightGrey: #eeeeee;
$grey: #a7a9ac;
$white: #fff;
$black: #000;
$red: #e0173f;

.container {
	width: 850px;
	margin: 0 auto;
	padding: 0 25px;
	max-width: 100%;
	height: 100%;
}

h1, h2,h3, h4, h5, h6, p {
	margin: 0;
	padding: 0
}

ul {
	margin: 0;
	padding:0;

	li {
		list-style-type: none;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

input {
	-webkit-appearance: none;
}


html {
	box-sizing: border-box;
	background: $veryLightGrey;
}

body {
	font-family: $roboto;
}

*, *:before, *:after {
	box-sizing: inherit;
}
