// add question option
.add-question-box {
	font-size: 31px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0;

	p {
		vertical-align: middle;
		display: inline-block;
		margin: 0 18px 0 0;
	}
}

.add-question-btn {
	display: inline-block;
	vertical-align: middle;
	@include border-radius(50%);
	background: $blue;
	@include transition(all 300ms ease-in);
	width: 26px;
	height: 26px;
	color: $white;
	cursor: pointer;
	position: relative;

	img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -47%));
	}
}

// radios
// --with image/with text label
input[type=radio].image-radio, input[type=radio].text-radio {
	position:absolute;
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}

input[type=radio].image-radio + label.label, label.text-label {
	height: 15px; 
	display: inline-block;
	line-height: 17px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 16px;
	vertical-align: middle;
	cursor: pointer;
}

input[type=radio].image-radio:checked + label.label {
	background-position: 0 -15px;
}

label.label {
	background-image:url(../img/icons/icon-radio-sprite.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type=radio].image-radio + label.label {
	margin: 0 25px 0 0;
	padding: 0 0 0 23px;
}

input[type=radio].text-radio:checked + label.text-label {
	text-decoration: underline;
	color: $grey;
}

label.text-label {
	color: $blue;
	@include transition(color 300ms ease-in);
	margin: 0 8px;
	line-height: 14px;
}

label.text-label.last-label {
	margin: 0 0 0 8px;
}


//search field with submit button
input[type=text].search-input {
	outline: none;
	box-shadow: none;
	border: 1px solid $lightGrey;
	width: 75%;
	height: 35px;
	line-height: 35px;
	padding: 0 14px;
	display: block;
	float: left;
	color: $grey;
	@include input-placeholder($grey);
	-webkit-appearance: none;
}

input[type=submit].search-submit {
	outline: none;
	box-shadow: none;
	width: 23%; // HELLO!: this size isn't exactly pixel perfect but I do not like fixed sizes in my projects, I try to use fixed px mainly for margins, paddings
	background: transparent;
	box-shadow: none;
	outline: none;
	border: 1px solid $grey;
	cursor: pointer;
	color: $grey;
	text-transform: uppercase;
	display: block;
	float: right;
	line-height: 31px;
	-webkit-appearance: none;
	border-radius: none;
	border-radius: 0;
}

// avatars
.avatar-box {
	margin: 0 auto;
	display: block;
	width: 50px;
	height: 50px;
	@include border-radius(50%);
	overflow: hidden;
	font-size: 10px;

	&-image {
		width: 100%;
	}
}

.avatar-box--big {
	width: 85px;
	height: 85px;
}

// stats list
.question-stats-list, .profile-stats-list {

	li {
		font-family: $amiri;
		font-style: italic;
		font-size: 16px;
		line-height: 17px;
		margin: 0 0 46px 0;

		&:last-child {
			margin: 0;
		}

		span {
			font-family: $roboto;
			font-style: normal;
			margin: 0 3px 0 0;
			font-size: 14px;
		}
	}

}

// load more
.load-more {
	cursor: pointer;
	display: inline-block;
	color: $red;
}

// questiion vote
.vote {
	
	p {
		display: inline-block;
		vertical-align: middle;
		font-family: $amiri;
		font-size: 16px;
		line-height: 18px;
		font-style: italic;
		margin: 0 26px 0 0;
		padding: 4px 0 0 0;
		width: 40%;

		.number {
			font-family: $roboto;
			font-style: normal;
			margin: 0 8px 0 0;
		}
	}

	&-buttons-container {
		display: inline-block;
		vertical-align: middle;

		.vote-result {
			display: inline-block;
			vertical-align: middle;
		}

		.button-like, .button-dislike {
			display: block;
			box-shadow: none;
			outline: none;
			cursor: pointer;
			@include transition(all 300ms eas-in);
			background: url('../img/icons/icon-traingle.png') no-repeat;
			width: 10px;
			height: 10px;
			//HELLO!:
			//normaly to get such clickable triangle I would use methods form this article 
			//http://stackoverflow.com/questions/7073484/how-do-css-triangles-work/24808936#24808936 
		}

		.button-dislike {
			@include transform(rotate(0deg));
		}

		.button-like {
			@include transform(rotate(180deg));
			margin: 0 0 13px 0;
		}
	}
}


// answer button
.answer-button, .comment-button {
	position: absolute;
	cursor: pointer;
	background: $white;
	text-align: center;
	padding: 0 31px;
	z-index: 4;
	bottom: -17px;
	font-size: 17px;
	line-height: 30px;
	left: 50%;
	border: 1px solid $lightGrey;
	@include transform(translate(-50%, 0));

	p {
		span {
			text-transform: uppercase;
		}
	}
}

// mobile/desktop show/hide
.mobile-show, .question-detailed-info .column.hide {
	display: none;
}



// HELLO!:
// I dont like to use such classes, I always try to grid, float, clear everything I can
// to allign elements and then realign them properly on mobile because I do not like to load hidden elements (overloading the page)
// but I couldn't find any solution for the images in the answer discussion beacuse of the borders and elements alignment. I could
// have used :bofore or :after but imho it wouldn't be "clean" enough.

