// questions
.questions-wrapper {
	width: 100%;
	@include box-shadow(10px -2px 14px -18px rgba(0, 0, 0, 0.75), -14px 1px 17px -22px rgba(0, 0, 0, 0.75));
}

// non-expanded-question
.questions-list {
	position: relative;
	z-index: 1;
	width: 100%;
	min-height: calc(100vh - 168px);
	border-color: $yellow;
	border-style: none solid solid solid;
	border-width: 0 40px 40px 40px;
	background: transparent;

	.load-more {
		margin: 38px 0 39px 20px;
	}
}

.question {
	width: 100%;
	margin: 0 auto;
	background: $white;
	height: auto;
	min-height: 319px;
	position: relative;
	padding: 15px 0 0 21px;
	border-bottom: 2px solid $lightGrey;

	&:before {
		position: absolute;
		display: block;
		content: "";
		background: $veryLightBlue;
		width: 599px;
		height: 278px;
		top: 0;
		left: -2px;
		z-index: 1;
	}

	&-status {
		position: absolute;
		z-index: 4;
		top: 258px;
		left: 29px;
		font-size: 12px;
		color: $grey;
		display: inline-block;
		text-transform: uppercase;

		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 220%;
			height: 1px;
			top: -9px;
			left: -19px;
			background: $grey;
		}
	}

	&-main-info, &-detailed-info, &-content {
		position: relative;
		z-index: 2;
	}

	&-main-info {
		margin: 0 0 21px 0;

		.avatar-box {
			display: block;
			float: left;
			margin: 5px 39px 0 0;
		}
	}

	&-author {
		display: block;
		font-size: 11px;
		line-height: 20px;
		text-transform: uppercase;
		cursor: pointer;

		span {
			color: $blue;
			font-size: 15px;
			font-weight: 700;
			margin: 0 7px 0 0;
			text-transform: none;
		}
	}

	&-topic {
		color: $blue;
		font-family: $amiri;
		font-style: italic;
		font-size: 20px;
		line-height: 26px;
	}

	&-content-wrapper {
		width: 100%;
		height: 100%;
	}

	&-detailed-info, &-content {
		background: $white;
		height: 100%;
		float: right;
		min-height: 200px;
		width: 91%;
		

		.column {
			display: block;
			float: left;
			width: 13%;
			text-align: center;

			&:first-child {
				width: 12%;
				margin: 0 10px 0 0;
				// padding: 36px 21px 0 21px;
			}

			&--question-stats {
				text-align: left;
			}

			&:last-child {
				width: 26%;
				padding: 0 0 0 38px;
			}
		}
		
		.activities {

			span:not(.activities-count) {
				font-family: $amiri;
				font-style: italic;
				font-size: 17px;
				line-height: 14px;
			}
		}

		.activities-count {
			display: block;
			font-size: 14px;
			line-height: 22px;
			margin: 0 0 47px 0;
		}

		.activity {
			background: $lightGrey;
			margin: 0 12px 0 0;
			padding: 21px 0 0 0;
			position: relative;

			.avatar-box {
				display: block;
				clear: both;
				margin: 0 auto 53px auto;
			}
			
			// HELLO!:
			//I have decided to use the good old hr tag because it won't differ in width
			//as it would if I createf the line as a pseudoclass element on the answered/commented span
			hr {
				color: $grey;
				margin: 0 10px;
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				@include border-radius(50%);
				width: 10px;
				height: 10px;
				background: $grey;
				@include transform(translate(-50%, 0));
				bottom: -6px;
				left: 50%;
			}

			span {
				display: inline-block;
				font-size: 12px;
				line-height: 18px;
				margin: 4px 0 5px 0;
				color: $grey;
				text-transform: uppercase;
			}

			&--answer {
				
				&:after {
					background: $black;
				}

				span {
					&:before {
						background: $black;
					}
				}
			}
		}
	}

	&-detailed-info {
		padding: 34px 0 0 20px;
		.column {

			&:first-child {
				padding: 36px 0 0 0;
			}
		}
	}

	&-content {
		padding: 34px 0 0 0;
		.column {

			&:first-child {
				padding: 36px 21px 0 21px;
			}
		}
	}
}

//expanded question
.question-expanded-view {
	position: relative;
	z-index: 1;
	width: 100%;
	border-color: $yellow;
	border-style: none solid none solid;
	border-width: 0 40px 0 40px;
	background: transparent;
	height: 100%;
	min-height: calc(100vh - 116px);

	.questions-wrapper {
		box-shadow: none;
	}
}

.question--expanded {
	min-height: 243px;
	margin: 0 0 10px 0;
	@include box-shadow(13px 9px 35px -30px rgba(82,82,82,1));
	border-bottom: none;
	position: relative;

	&:before {
		height: 249px;
	}

	.column {
		display: block;
		float: left;
		width: 12%;
		text-align: left;

		&:first-child {
			width: 77%;
			padding: 27px 21px 0 21px;
			margin: 0;
		}

		&:last-child {
			width: 23%;
			padding: 17px 5px 0 5px;
		}
	}

	.unfollow {
		position: absolute;
		display: inline-block;
		float: right;
		color: $blue;
		font-weight: 700;
		top: 37px;
		right: 72px;
		z-index: 3;
	}

	.question-content {
		padding: 0;
		min-height: 158px;

		.text {

			p {
				font-size: 14px;
				line-height: 19px;
			}
		}
	}
}

.question-answers-container {
	padding: 48px 0 0 0;

	.answers-summary {
		text-align: center;
		font-family: $amiri;
		font-size: 16px;
		line-height: 20px;
		font-style: italic;

		.number {
			font-style: normal;
			font-family: $roboto;
		}
	}
}

.question-discussion {
	margin: 14px 0 0 0;

	.column {
		float: left;

		&:first-child {
			width: 12%;
			padding: 19px 0 9px 0;
			@include box-shadow(0 24px 10px -19px $mediumLightGrey);
			border-color: $mediumLightGrey;
			border-style: none none solid solid;
			border-width: 0 0 1px 1px;
			padding: 18px 0 0 0;
		}

		&:last-child {
			width: 88%;
			border-color: $grey;
			border-style: none none solid solid;
			border-width: 0 0 1px 1px;
			min-height: 100px;
			padding: 14px 0 20px 15px;
			@include box-shadow(0 24px 10px -19px $mediumLightGrey);
		}
	}

	.answer {
		@include box-shadow(8px -7px 16px -14px rgba(0, 0, 0, 0.75));
		margin: 0 0 39px 0;

		&:last-child {
			margin: 0 0 60px 0;
		}
		
		&.no-comment {

			.column {
				&:last-child {
					border-color: transparent transparent $mediumLightGrey $grey;
					border-style: none none solid solid;
					border-width: 0 0 1px 1px;
					min-height: 100px;
					@include box-shadow(0 24px 10px -19px $mediumLightGrey);
					// HELLO!:
					// I know I can use http://caniuse.com/#search=border-image here because the borders are slightly brighter at the ends
					// but because the support for this css feature is problematic, I'm leaving it as you see
				}
			}
		}

		.author {
			display: block;
			font-size: 11px;
			line-height: 20px;
			text-transform: uppercase;

			span {
				color: $blue;
				font-size: 15px;
				font-weight: 700;
				margin: 0 7px 0 0;
				text-transform: none;
			}
		}

		.text {
			font-size: 16px;
			line-height: 22px;
		}
	}

	.answer-content, .comment-content {
		display: flex;
	}

	.comments-list {
		margin: 0 0 0 12%;
	}

	.comment {

		.column {

			&:first-child {
				padding: 19px 0 0 0;
				width: 14%
			}


			&:last-child  {
				width: 86%;
				border-bottom: 1px solid $mediumLightGrey;
			}
		}
	}

	.answer-info, .comment-info {
		float: left;
		width: 100%;

		p {
			font-size: 14px;
			line-height: 18px;
		}

		.author {
			font-size: 11px;
			color: $grey;
			margin: 0;

			span {
				margin: 0 5px 0 0;
			}

			.publish-date {
				font-family: $amiri;
				font-style: italic;
				font-weight: 400;
				position: relative;
				margin: 0 0 0 24px;
				color: $black;

				&:before {
					content: "\b7";
					position: absolute;
					display: block;
					font-size: 16px;
					top: 4px;
					left: -15px;
					color: $grey;
				}
			}
		}
	}

	.answer-info {
		width: 76%;

		p {
			margin: 11px 0 0 0;
		}
	}

	.answer-text {
		display: block;
		clear: right;
		float: left;
		width: 76%;
		font-size: 14px;
		line-height: 18px;
		margin: 10px 0 0 0;
	}

	.comment-text {
		width: 72%;
		margin: 12px 0 34px 0;
		clear: right;
		float: left;

		p {
			font-size: 14px;
			line-height: 18px;
			
		}
	}

	.vote {
		width: 24%;
		float: left;
		padding: 0 0 0 14px;
	}

	.no-comment, .has-comment {
		position: relative;
	}
}

// profile
.profile-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: $white; 
	// HELLO! for bad bad bad IE
	background: rgba(0, 0, 0, 0.7);
	padding: 22px 0 0 0;
	overflow-y: scroll;
	display: none;

	.container {
		width: 900px;
	}


	.container-inner {
		display: block;
		height: 100%;
		max-width: 100%;
		width: 600px;
		margin: 0 auto;
	}
}

.profile {
	background: $white;
	padding: 49px 0 30px 0;
	margin: 0 0 100px 0;
	position: relative;
	
	.close-icon {
		position: absolute;
	    top: 2%;
	    right: 2%;
	    cursor: pointer;
	}

	h2 {
		text-transform: uppercase;
		color: $grey;
		text-align: center;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
	}

	.name {
		margin: 15px 0 5px 0;
		color: $blue;
		text-align: center;
		font-weight: 700;
		font-size: 20px;
    	line-height: 25px;
	}


	.activity {

		.column {
			display: inline-block;
			vertical-align: middle;
			margin: 0 48px 0 0;

			&:last-child {
				margin: 0;
			}
		}

		br {
			display: none;
		}

		.member-for, .last-activity, .activity-level {
			font-size: 14px;
		    line-height: 20px;
		    text-transform: uppercase;
		    color: $grey;
		    display: inline-block;
		    vertical-align: middle;
		    word-spacing: 0.19em;

		    .number, .time, .day, .day-time {
				color: $black;
				text-transform: none;
		    }
		}

		.activity-level, .activity-icons {
			display: inline-block;
			vertical-align: middle;
		}

		.activity-icons {
			margin: 0 0 0 8px;

			img {
				margin: 4px 6px 0 0;

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	hr {
		margin: 17px 0;
	}

	.article-slider {
		text-align: center;
		position: relative;

		.slider-btn {
			display: block;
			position: absolute;
			top: 5px;
			@include border-radius(50%);
			height: 30px;
			width: 30px;
			background: url('../img/icons/icon-arrow.png') no-repeat center center $blue;
			@include transition(background-color 300ms ease);
			cursor: pointer;

			&:hover {
				background: url('../img/icons/icon-arrow.png') no-repeat center center $grey;
			}
		}

		.btn-before {
			left: 2px;
			@include transform(rotate(180deg));
		}

		.btn-after {
			right: 2px;
			@include transform(rotate(0deg));

			// HELLO!
			// I like to load just one image for the sake of bandwidth and then manipulate it
		}

		h2 {
			font-family: $amiri;
			font-size: 42px;
    		line-height: 47px;
			font-style: italic;
			margin: 0 0 27px 0;
			text-transform: none;
			color: $black;
		}

		p {
			text-transform: uppercase;
			color: $grey;
			font-size: 16px;
			line-height: 20px;
		}
	}

	.stats {
		text-align: center;
	}

	&-stats-list {
		display: inline-block;
		width: auto;
		text-align: center;
		margin: 45px auto 0 auto;
		
		li {
			display: block;
			float: left;
			height: 91px;
			width: 91px;
			text-align: center;
			padding: 15px 0;
			position: relative;
			overflow: visible;
			z-index: 10;
			margin: 0 24px 0 0;

			&:before {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				display: block;
				top: 0;
				left: 0;
				background: $veryLightBlue;
				z-index: -1;
			}

			span {
				display: block;
				clear: both;
				font-size: 24px;
			    line-height: 30px;
			    font-weight: 700;
			    font-family: $roboto;
			    margin: 0 0 9px 0;
			}

			&:first-child {

				&:before {
					@include transform(rotate(52deg));
				}
			}

			&:nth-child(2) {

				&:before {
					@include transform(rotate(81deg));
				}
			}

			&:nth-child(3) {

				&:before {
					@include transform(rotate(56deg));
				}
			}

			&:last-child {

				&:before {
					@include transform(rotate(101deg));
				}
			}
		}
	}

	.additional-info {
		margin: 59px 0 0 0;

		.users {
			text-align: center;
			margin: 15px 0 0 0;

			.user {
				display: inline-block;
				vertical-align: top;
				margin: 0 5px 0 0;
				width: 90px;
				min-height: 130px;
				height: auto;
			}

			.avatar-wrapper {
				width: 90px;
				height: 90px;
				background: repeating-linear-gradient(45deg, $white, $white 5px, $lightGrey 0, $lightGrey 6px);
				padding: 19px 0;
			}

			.name {
				font-size: 16px;
	    		line-height: 17px;
	    		margin: 9px 11px;
			}
		}
	}

	.trending-discussion {
		margin: 32px 0 20px 0;
		text-align: center;

		h2 {
			margin: 0 0 49px 0;
		}

		.content {
			position: relative;
			padding: 42px 0;
			background: repeating-linear-gradient(45deg, $white, $white 5px, $lightGrey 0, $lightGrey 6px);

			.avatar-box {
				position: absolute;
				top: -25px;
				left: 50%;
				@include transform(translate(-50%, 0));
			}

			.author {
				text-transform: uppercase;
				color: $grey;
				font-size: 14px;
    			line-height: 18px;
    			margin: 0 0 2px 0;

				span {
					text-transform: none;
					color: $blue;
				}
			}

			.title {
				font-family: $amiri;
				color: $blue;
				font-style: italic;
				text-transform: none;
				font-weight: 700;
				font-size: 21px;
    			line-height: 25px;
    			margin: 0 0 10px 0;
			}

			.question-stats-list {
				margin: 26px 0 0 0;

				li {
					display: inline-block;
					font-size: 19px;
    				line-height: 24px;
    				margin: 0 21px 0 0;

    				span {
    					font-weight: 700;
    					font-size: 17px;
    				}
				}
			}
		}
	}
}
