@media screen and (max-width: 991px) {
	
	// general
	.container {
		width: 768px;
	}

	.profile-wrap {

		.container {
			width: 768px;
		}

		.container-inner {
			width: 100%;
			padding: 0 15px;
		}
	}
	
	// header
	.header {

		.filters-box {
			width: 100%;
		}

		.question-type, .question-views {
			width: 50%;
		}

		.question-type {
			text-align: left;
		}

		.question-views {
			text-align: right;
		}

		input[type=text].search-input {
			width: 74%;
		}

		.icon-go-back {
			position: static;
			float: left;
		}
	}

	.header--question-expanded, .header--questions-list {

		.icon-go-back {
			margin: 0 38px 0 20px;
		}

		.add-question-box {
			width: 100%;
		}
	}

	// questions
	.questions-list {
		border: none;
	}

	.question {

		&:before {
			left: 0;
		}

		&-main-info {

			.avatar-box {
				margin: 5px 32px 0 0; 
			}
		}

		&-detailed-info {

			.column:last-child {
				width: 25%;
				padding: 0 0 0 20px;
			}
		}

		.question-status {
			left: 27px;

			&:before {
				width: 200%;
				left: -16px;
			}
		}
	}

	.question--expanded {

		.unfollow {
			right: 34px;
		}
	}

	.question-expanded-view {
		border: none;
	}

	// profile
	.profile {

		.activity {
			text-align: center;

			.column {
				display: block;
				margin: 0 0 10px 0;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	
	// general
	.container {
		width: 100%;
		padding: 0;
	}

	// header
	.header {

		.filters-box {
			float: none;
			width: 100%;
			margin: 50px 0 0 0;
		}

		.add-question-box {
			width: 100%;
			margin: 0 0 20px 0;
		}

		.question-views, .question-type {
			width: 50%;
		}

		.question-views {
			text-align: right;
		}

		.bottom-bar {
			display: none;
			padding: 15px 0 11px 0;
		}

		.search-box-wrapper {
			padding: 0 10px;

			input[type=text].search-input {
				float: none;
				width: 100%;
				margin: 0 0 10px 0;
			}

			input[type=submit].search-submit {
				float: none;
				margin: 0 auto;
				width: 100px;
			}
		}

		.post-time-activity-info {
			display: none;
		}
	}

	.header--questions-list {

		.top-bar {
			padding: 23px 24px 8px 24px;
		}

		.search-icon {
			display: inline-block;
		}
	}

	.header--question-expanded {

		.post-time-activity-info {
			display: none;
		}

		.top-bar {
			padding: 23px 0 0 24px;
		}
	}
	
	.header--questions-list, .header--question-expanded {
		.icon-go-back {
			@include transform(scale(0.8));
			margin: 0 26px 0 -10px;
		}
	}
	
	// questions
	//--single-view
	.question {
		padding: 15px 0 60px 0;

		.column {

			&.activities {
				width: 22%;
				margin: 0 20 0 0;
			}

			&:last-child {
				width: 40%;
				padding: 0 10px 0 0;
			}

			&.mobile-hide {
				display: none;
			}
		}


		&:before {
			width: 100%;
		}

		&-status {
			left: 37px;
		}

		&-detailed-info {
			width: 86%;
			padding: 34px 0 0 20px;


			hr {
				margin: 0 16px;
			}
		}

		.activity--answer {
			width: 22%;
			margin: 0 36px 0 0;
		}

		.avatar-box {
			margin: 5px 40px 0 24px;
		}
	}
	
	//--expanded
	.question-expanded-view {

		.question {
			padding: 15px 0 0 0;

			.column {

				&:first-child, &:last-child {
					width: 100%;
				}

				&:last-child {
					text-align: right;
					padding: 20px 21px 37px 21px;
				}
			}

			.question-content {
				width: 100%;
			}

			.question-main-info {
				.avatar-box, .question-author {
					display: inline-block;
				}

				.question-author {
					margin: 10px 0 0 0;
				}

				.question-topic {
					display: block;
					clear: both;
					margin: 30px 0 0 0;
					border-top: 2px solid $white;
					padding: 13px 24px 0 24px;
				}

				.text, .vote {
					width: 100%;
				}

				.avatar-box {
					margin: 5px 24px 0 24px;
				}
			}

			.unfollow {
				bottom: 43px;
				left: 21px;
				top: initial;
				right: initial;
			}
		}
	}

	.question-discussion {

		.column {
			&:first-child {
				display: none;
			}

			&:last-child {
				width: 100%;
				border-left: none;
				padding: 14px 0 20px 0;
				border-color: $lightGrey;
			}
		}

		.mobile-show {
			display: block;
			float: left;
			margin: 0 11px 0 15px;
		}

		.answer-info, .comment-info {
			width: 100%;
			padding: 0 0 10px 0;
			border-bottom: 1px solid $lightGrey;

			.author {
				margin: 15px 0 0 0;
			}
		}

		.comments-list {
			margin: 0 0 0 2%;
		}

		.comment {
			.column {
				&:last-child {
					width: 100%;
				}
			}
		}

		.answer-text, .comment-text, .vote {
			width: 100%;
		}

		.answer-text, .comment-text {
			padding: 0 15px;
		}

		.comment-text {
			margin: 12px 0 9px 0;
		}

		.vote {
			text-align: right;
			padding: 10px 23px 0 23px;
		}
	}

	.answer-button, .comment-button {
		padding: 0 11px;
		width: 56%;
	}

	// profile
	.profile-wrap {
		padding: 0;
	}

	.profile {
		margin: 0;
	
		.close-icon {
			top: 2%;
			right: 4%;
		}

		&-stats-list {

			li {
				margin: 0 19px 0 0;

				&:before {
					@include opacity(0.7);
				}

				&:nth-child(2) {
					margin: 0;
				}

				&:nth-child(3) {
					clear:left;
				}
			}
		}

		.article-slider {
			
			.slider-btn {
				top: -46px;
			}

			h2 {
				margin: 64px 0 27px 0;
			}
		}

		.activity {
			
			br {
				display: block;
			}

			.column {
				margin: 6px 0 14px 0;
			}
		}
		
		.trending-discussion {
			.content {
				.question-stats-list {
					li {
						display: block;
						margin: 0 0 10px 0;
					}
				}
			}
		}
	}

}

@media screen and (max-width: 600px) {
	
	// header
	.header {
		.question-views, .question-type {
			width: 100%;
			float: none;
			text-align: center;
		}

		.question-views {
			margin: 18px 0 0 0;
		}

		input[type=radio].image-radio + label.label {
			margin: 0 9px 0 0;
		}
	}
	
	// questions
	.question {

		.column.activities {
			background: $lightGrey;
			width: 27%;
		}


		&-detailed-info {
			width: 100%;
			display: flex;
		}

		&-status {
			display: none;
		}

		&-main-info {

			.avatar-box{
				margin: 5px 20px 0 24px;
			}
		}

		.activity--answer {
			width: 27%;
			margin: 0 20px 0 0;
		}
	}
}

@media screen and (max-width: 390px) {

	// header
	.header--questions-list {

		.search-icon {
			display: block;
			float: none;
			margin: 14px auto 0 auto;
		}

		.add-question-box {

			p {
				margin: 0 8px 0 0;
			}
		}
	}

	.header--questions-list, .header--question-expanded {
		.icon-go-back {
			margin: 0 7px 0 0;
		}
	}
}