<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Monterail-test</title>
  <meta name="author" content="Kamil Tarczynski">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i|Roboto+Condensed:300,400,700" rel="stylesheet">
  <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>
  <body ng-app="forum" ng-controller="mainCtrl">

    <!-- pop-up-start -->
    <div class="profile-wrap">

      <div class="container">

        <div class="profile">
          <img src="img/icons/icon-close.jpg" alt="Icon-close" class="close-icon" ng-click="hideUserProfile()">

          <div class="container-inner">
            <div class="avatar-box avatar-box--big">
              <a href="#"><img src="img/avatars/halima.png" alt="Avatar" class="avatar-box-image"></a>
            </div>

            <p class="name">Dr Halima</p>

            <div class="activity cf">
              <div class="column">
                <p class="member-for">Member for </br><span class="number">5</span> <span class="time">months</span></p>
              </div>
              <div class="column">
                <p class="last-activity">Last seen </br><span class="day">Saturday</span> <span class="day-time">afternoon</span></p>
              </div>
              <div class="column">
                <p class="activity-level">Activity level</p></br>
                <div class="activity-icons">
                  <img src="img/icons/icon-badge-active.jpg" alt="Icon-badge" class="badge-active">
                  <img src="img/icons/icon-badge-active.jpg" alt="Icon-badge" class="badge-active">
                  <img src="img/icons/icon-badge-inactive.jpg" alt="Icon-badge" class="badge-inactive">
                </div>
              </div>
            </div>

            <hr>

            <div class="article-slider">
                <span class="btn-before slider-btn"></span>
                <h2>How it all started</h2>
                <p>That's where we have been these 5 months ago</p>
                <span class="btn-after slider-btn"></span>
            </div>

            <div class="stats">
              <ul class="profile-stats-list cf">
                <li class="peers"><span>46</span> peers</li>
                <li class="related"><span>29</span> discussion</li>
                <li class="questions"><span>19</span> questions</li>
                <li class="findings"><span>10</span> findings</li>
              </ul>
            </div>

            <div class="additional-info">
              <h2>Who joined the platform the same period</h2>

              <ul class="users cf">
                <li class="user">
                  <div class="avatar-wrapper"> 
                    <div class="avatar-box">
                        <a href="#"><img src="img/avatars/person1.png" alt="Avatar" class="avatar-box-image"></a>
                    </div>
                  </div>
                  <p class="name">S.E.N Waweru</p>
                </li>
                <li class="user">
                  <div class="avatar-wrapper"> 
                    <div class="avatar-box">
                        <a href="#"><img src="img/avatars/patricia.png" alt="Avatar" class="avatar-box-image"></a>
                    </div>
                  </div>
                  <p class="name">Patricia</p>
                </li>
                <li class="user">
                  <div class="avatar-wrapper"> 
                    <div class="avatar-box">
                        <a href="#"><img src="img/avatars/joseph.png" alt="Avatar" class="avatar-box-image"></a>
                    </div>
                  </div>
                  <p class="name">Joseph Aluoch</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="trending-discussion">
              <h2>The hottest discussion these days</h2>

              <div class="content">
                <div class="container-inner">
                  <div class="avatar-box">
                    <a href="#"><img src="img/avatars/andrew.png" alt="Avatar" class="avatar-box-image"></a>
                  </div> 
                  <p class="author"><span>Andrew</span> found the Guardian article</p>
                  <h2 class="title"><a href="#">Vegan diet to stop diabieties progress</a></h2>

                  <ul class="question-stats-list">
                    <li class="peers"><span>6</span> peers involded</li>
                    <li class="related"><span>3</span> related discussion</li>
                    <li class="conversations"><span>3</span> conversations</li>
                    <li class="votes"><span>19</span> upvotes</li>
                  </ul>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>
    <!-- pop-up-end -->

    <!-- header-start -->
    <header class="header header--questions-list">
      <div class="container">
        
        <!-- header-top-bar -->
        <div class="top-bar cf">
          <div class="add-question-box">
            <a href="#" class="icon-go-back"><img src="img/icons/icon-back.png" alt="Icon-go-back"></a>
            <p>Questions</p>
            <span class="add-question-btn"><img src="img/icons/icon-plus.png" alt=""></span>
            <img src="img/icons/icon-search.png" alt="Icon-loop" class="search-icon">
          </div>

          <div class="filters-box">
            <div class="question-type">


              <input type="radio" name="question-type" id="user-shelf" class="image-radio" />
              <label for="user-shelf" class="label">My shelf</label>

              <input type="radio" name="question-type" id="all-questions" class="image-radio" />
              <label for="all-questions" class="label">All questions</label>

            </div>
            <div class="question-views">
              <span>Sort by</span>
              
              <input type="radio" name="question-views" id="view-recent" class="text-radio" ng-click="changeSort('-postDate')"/>
              <label for="view-recent" class="text-label" ng-click="changeSort('-postDate')">recent</label>

              <span>or</span>
              
              <input type="radio" name="question-views" id="view-best" class="text-radio" ng-click="changeSort('-generalActivitiesCount')"/>
              <label for="view-best" class="text-label last-label" ng-click="changeSort('-generalActivitiesCount')">hot</label>
            </div>
          </div>
        </div>
        
        <!-- header-bottom-bar -->
        <div class="bottom-bar">
          <div class="search-box-wrapper cf">
            <form ng-submit="submit(value)">
              <input type="text" placeholder="Search questions" class="search-input" ng-model="value"></input>
              <input type="submit" id="submit" value="Search" class="search-submit"/>
              <!-- after https://docs.angularjs.org/api/ng/directive/ngSubmit -->
            </form>
          </div>
        </div>
        
      </div>
    </header>
    <!-- header-end -->

    <!-- questions-list-start -->
    <section class="questions-list">

        <div class="container">

          <div class="questions-wrapper">
            
            <!-- question-->
            <div class="question cf" ng-repeat="post in posts | limitTo:itemsLimit() | filter:q | orderBy:sortPosts" data-posted="{{post.postDate}}">
                <span class="question-status">asked</span>
                
                <!-- question-main-info -->
                <div class="question-main-info cf">
                  <div class="avatar-box">
                    <a href="#" ng-click="showUserProfile(activity.authorId)" data-id="{{ activity.authorId }}"><img ng-src="{{ post.authorPhoto }}" alt="" class="avatar-box-image"></a>
                  </div>

                  <p class="question-author" ng-click="showUserProfile(activity.authorId)" data-id="{{ activity.authorId }}"><span>{{ post.authorName }}</span> is asking:</p>
                  <h2 class="question-topic"><a href="#">{{ post.topic }}</a></h2>
                </div>
                
                <!-- question-detailed-info -->
                <div class="question-detailed-info cf">
                  <div ng-class="hideColumnCheck(post.generalActivitiesCount)">
                    <span class="activities-count">{{ post.generalActivitiesCount}}</span>
                    <span>more</br>activities</span>
                    <!-- HELLO!: -->
                    <!-- I don't like to use br but in this case it will help to avoid padding adjust through all the breakpoints in order to break the text -->
                  </div>

                  <div ng-class="activityTypeCheck(activity.type)" ng-repeat="activity in post.activities">
                    <div class="avatar-box">
                      <a href="#" ng-click="showUserProfile(activity.authorId)" data-id="{{ activity.authorId }}"><img ng-src="{{ activity.authorPhoto }}" alt="Avatar" class="avatar-box-image"></a>
                    </div>
                    <hr>
                    <span> {{ activity.type}}</span>
                  </div> 

                  <div class="column column--question-stats">
                    <ul class="question-stats-list">
                      <li class="related"><span>{{ post.relatedCount }}</span> related discussion</li>
                      <li class="peers"><span>{{ post.involvedCount }}</span> peers involded</li>
                      <li class="conversations"><span>{{ post.conversationCount }}</span> conversations</li>
                    </ul>
                  </div>
                </div>
            </div>

            <!-- load-more -->
            <span class="load-more" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">load more questions</span>


          </div>

        </div>
    </section>
    <!-- questions-list-end -->
  <script src="js/jquery-3.1.0.js"></script>
  <script src="js/posts.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/script.js"></script>
  </body>
</html>