<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Monterail-test</title>
  <meta name="author" content="Kamil Tarczynski">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
  <link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i|Roboto+Condensed:300,400,700" rel="stylesheet">
  <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>
  <body>

    <!-- pop-up-start -->
    <div class="profile-wrap">

      <div class="container">

        <div class="profile">
          <img src="img/icons/icon-close.jpg" alt="Icon-close" class="close-icon" ng-click="hideUserProfile()">

          <div class="container-inner">
            <div class="avatar-box avatar-box--big">
              <a href="#"><img src="img/avatars/halima.png" alt="Avatar" class="avatar-box-image"></a>
            </div>

            <p class="name">Dr Halima</p>

            <div class="activity cf">
              <div class="column">
                <p class="member-for">Member for </br><span class="number">5</span> <span class="time">months</span></p>
              </div>
              <div class="column">
                <p class="last-activity">Last seen </br><span class="day">Saturday</span> <span class="day-time">afternoon</span></p>
              </div>
              <div class="column">
                <p class="activity-level">Activity level</p></br>
                <div class="activity-icons">
                  <img src="img/icons/icon-badge-active.jpg" alt="Icon-badge" class="badge-active">
                  <img src="img/icons/icon-badge-active.jpg" alt="Icon-badge" class="badge-active">
                  <img src="img/icons/icon-badge-inactive.jpg" alt="Icon-badge" class="badge-inactive">
                </div>
              </div>
            </div>

            <hr>

            <div class="article-slider">
                <span class="btn-before slider-btn"></span>
                <h2>How it all started</h2>
                <p>That's where we have been these 5 months ago</p>
                <span class="btn-after slider-btn"></span>
            </div>
            
            <div class="stats">
              <ul class="profile-stats-list cf">
                <li class="peers"><span>46</span> peers</li>
                <li class="related"><span>29</span> discussion</li>
                <li class="questions"><span>19</span> questions</li>
                <li class="findings"><span>10</span> findings</li>
              </ul>
            </div>

            <div class="additional-info">
              <h2>Who joined the platform the same period</h2>

              <ul class="users cf">
                <li class="user">
                  <div class="avatar-wrapper"> 
                    <div class="avatar-box">
                        <a href="#"><img src="img/avatars/person1.png" alt="Avatar" class="avatar-box-image"></a>
                    </div>
                  </div>
                  <p class="name">S.E.N Waweru</p>
                </li>
                <li class="user">
                  <div class="avatar-wrapper"> 
                    <div class="avatar-box">
                        <a href="#"><img src="img/avatars/patricia.png" alt="Avatar" class="avatar-box-image"></a>
                    </div>
                  </div>
                  <p class="name">Patricia</p>
                </li>
                <li class="user">
                  <div class="avatar-wrapper"> 
                    <div class="avatar-box">
                        <a href="#"><img src="img/avatars/joseph.png" alt="Avatar" class="avatar-box-image"></a>
                    </div>
                  </div>
                  <p class="name">Joseph Aluoch</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="trending-discussion">
              <h2>The hottest discussion these days</h2>

              <div class="content">
                <div class="container-inner">
                  <div class="avatar-box">
                    <a href="#"><img src="img/avatars/andrew.png" alt="Avatar" class="avatar-box-image"></a>
                  </div> 
                  <p class="author"><span>Andrew</span> found the Guardian article</p>
                  <h2 class="title"><a href="#">Vegan diet to stop diabieties progress</a></h2>

                  <ul class="question-stats-list">
                    <li class="peers"><span>6</span> peers involded</li>
                    <li class="related"><span>3</span> related discussion</li>
                    <li class="conversations"><span>3</span> conversations</li>
                    <li class="votes"><span>19</span> upvotes</li>
                  </ul>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>
    <!-- pop-up-end -->

    <!-- header-start -->
    <header class="header header--question-expanded">
      <div class="container">
        
        <!-- header-top-bar -->
        <div class="top-bar cf">
          <div class="add-question-box">
            <a href="#" class="icon-go-back"><img src="img/icons/icon-back.png" alt="Icon-go-back"></a>
            <p>Question</p>
            <span class="add-question-btn"><img src="img/icons/icon-plus.png" alt=""></span>
          </div>
          <div class="post-time-activity-info cf">
            <p>Last time discussed <span class="number">1</span> <span class="time-measure">week</span> ago</p>
          </div>
        </div>
        
      </div>
    </header>
    <!-- header-end -->


    <!-- questions-expanded-start -->
    <section class="question-expanded-view">

        <div class="container">

          <div class="questions-wrapper">
            
            <!-- question-expanded-->
            <div class="question question--expanded cf">

                <a href="#" class="unfollow">unfollow</a>
                
                <!-- question-main-info -->
                <div class="question-main-info cf">
                  <div class="avatar-box">
                    <a href="#"><img src="img/avatars/eva.png" alt="Avatar" class="avatar-box-image"></a>
                  </div>

                  <p class="question-author"><span>Eva</span> is asking:</p>
                  <h2 class="question-topic"><a href="#">Will insulin make my patients gain weight?</a></h2>
                </div>
                
                <!-- question-content -->
                <div class="question-content cf">
                  <div class="column text">
                    <p>
                      All my patients with diabetes should see an opthalmologist yearly for a dialated eye exarnination - begining at diagnosis inpeople with type 2 diabetes, and after 5 years in people with type 1 diabetes after puberty. Patien. with know eye disease, symptoms of blurred vision in one eye, or blind spots may need to see their ophthalmologist more frequently.
                    </p>
                  </div>

                  <div class="column vote">
                    <p class="vote-result"><span class="number">19</span><span class="result">upvotes</span></p>
                    <div class="vote-buttons-container">
                      <div class="button-like"></div>
                      <div class="button-dislike"></div>
                    </div>
                  </div>
                </div>

                <div class="answer-button">
                  <p><span>Give</span> new answer</p>
                </div>

            </div>
            
            <!-- question-answers -->
            <div class="question-answers-container">
              <p class="answers-summary"><span class="number">2</span> peers already answered <span class="author">Eva</span></p>
              
              <!-- question-discussion -->
              <ul class="question-discussion">

                <!-- answer-and-comments -->
                <li class="answer">

                  <!-- answer-content -->
                  <div class="answer-content cf">

                    <div class="column">
                        <div class="avatar-box">
                          <a href="#"><img src="img/avatars/patricia.png" alt="Avatar" class="avatar-box-image"></a>
                        </div>
                    </div>

                    <div class="column">

                        <div class="answer-info">
                          <div class="avatar-box mobile-show">
                            <a href="#"><img src="img/avatars/patricia.png" alt="Avatar" class="avatar-box-image"></a>
                          </div>
                          <p class="author"><span>Patricia</span> commented it:<span class="publish-date">yesterday</span></p>
                        </div>

                        <div class="answer-text">
                          <p>Numbers or tingling in your feet should be report. to your doctor at your regular visits.</p>
                        </div>
                        
                        <div class="vote">
                          <p class="vote-result"><span class="number">8</span><span class="result">upvotes</span></p>

                          <div class="vote-buttons-container">
                            <div class="button-like"></div>
                            <div class="button-dislike"></div>
                          </div>
                        </div>
                    </div>
                  </div>
                  
                  <!-- comments-list-nested-->
                  <ul class="comments-list cf">

                    <!-- comment -->
                    <li class="comment">
                      <div class="comment-content cf">

                        <div class="column">
                          <div class="avatar-box">
                            <a href="#"><img src="img/avatars/david.png" alt="Avatar" class="avatar-box-image"></a>
                          </div>
                        </div>

                        <div class="column">
                          <div class="comment-info">
                            <div class="avatar-box mobile-show">
                              <a href="#"><img src="img/avatars/david.png" alt="Avatar" class="avatar-box-image"></a>
                            </div>
                            <p class="author"><span>David</span> commented it:<span class="publish-date">yesterday</span></p>
                          </div>

                          <div class="comment-text">
                            <p>You should check your feet daily for redness, caluses, cracks or skin breakdown.</p>
                          </div>

                          <div class="vote">
                            <p class="vote-result"><span class="number">2</span><span class="result">upvotes</span></p>

                            <div class="vote-buttons-container">
                              <div class="button-like"></div>
                              <div class="button-dislike"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>     
                  </ul>
                </li>

                <!-- answer-and-comments -->
                <li class="answer">

                  <!-- answer-content -->
                  <div class="answer-content cf">

                    <div class="column">
                        <div class="avatar-box">
                          <a href="#"><img src="img/avatars/joseph.png" alt="Avatar" class="avatar-box-image"></a>
                        </div>
                    </div>

                    <div class="column">

                        <div class="answer-info">
                          <div class="avatar-box mobile-show">
                            <a href="#"><img src="img/avatars/joseph.png" alt="Avatar" class="avatar-box-image"></a>
                          </div>
                          <p class="author"><span>Joseph</span> commented it:<span class="publish-date">yesterday</span></p>
                        </div>

                        <div class="answer-text">
                          <p>Numbers or tingling in your feet should be report. to your doctor at your regular visits.</p>
                        </div>
                        
                        <div class="vote">
                          <p class="vote-result"><span class="number">8</span><span class="result">upvotes</span></p>

                          <div class="vote-buttons-container">
                            <div class="button-like"></div>
                            <div class="button-dislike"></div>
                          </div>
                        </div>
                    </div>
                  </div>
                </li>
                
              </ul>

            </div>

          </div>

        </div>
    </section>
    <!-- question-expanded-end -->

  <script src="js/angular.js"></script>
  <script src="js/jquery-3.1.0.js"></script>
  <script src="js/script.js"></script>
  </body>
</html>