/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
/* line 8, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 18, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
/* line 31, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 50, ../sass/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 61, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 70, ../sass/_normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
/* line 79, ../sass/_normalize.scss */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 92, ../sass/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 102, ../sass/_normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 115, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 125, ../sass/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 134, ../sass/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 143, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 152, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, ../sass/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 170, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 187, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 191, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 202, ../sass/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 210, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 222, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
/* line 234, ../sass/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 243, ../sass/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 257, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
/* line 269, ../sass/_normalize.scss */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 278, ../sass/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 288, ../sass/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 299, ../sass/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 310, ../sass/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 322, ../sass/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 333, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 346, ../sass/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 359, ../sass/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 368, ../sass/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 378, ../sass/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 388, ../sass/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
/* line 397, ../sass/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
/* line 406, ../sass/_normalize.scss */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 416, ../sass/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* line 1, ../sass/_general.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 7, ../sass/_general.scss */
.cf:after {
  clear: both;
}

/* line 28, ../sass/_general.scss */
.container {
  width: 850px;
  margin: 0 auto;
  padding: 0 25px;
  max-width: 100%;
  height: 100%;
}

/* line 36, ../sass/_general.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* line 41, ../sass/_general.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 45, ../sass/_general.scss */
ul li {
  list-style-type: none;
}

/* line 50, ../sass/_general.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 55, ../sass/_general.scss */
input {
  -webkit-appearance: none;
}

/* line 60, ../sass/_general.scss */
html {
  box-sizing: border-box;
  background: #fbfbfb;
}

/* line 65, ../sass/_general.scss */
body {
  font-family: "Roboto Condensed", sans-serif;
}

/* line 69, ../sass/_general.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 2, ../sass/_modular-classes.scss */
.add-question-box {
  font-size: 31px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
}
/* line 9, ../sass/_modular-classes.scss */
.add-question-box p {
  vertical-align: middle;
  display: inline-block;
  margin: 0 18px 0 0;
}

/* line 16, ../sass/_modular-classes.scss */
.add-question-btn {
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #0266b3;
  -moz-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  width: 26px;
  height: 26px;
  color: #fff;
  cursor: pointer;
  position: relative;
}
/* line 28, ../sass/_modular-classes.scss */
.add-question-btn img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -47%);
  -ms-transform: translate(-50%, -47%);
  -webkit-transform: translate(-50%, -47%);
  transform: translate(-50%, -47%);
}

/* line 39, ../sass/_modular-classes.scss */
input[type=radio].image-radio, input[type=radio].text-radio {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* line 51, ../sass/_modular-classes.scss */
input[type=radio].image-radio + label.label, label.text-label {
  height: 15px;
  display: inline-block;
  line-height: 17px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
}

/* line 62, ../sass/_modular-classes.scss */
input[type=radio].image-radio:checked + label.label {
  background-position: 0 -15px;
}

/* line 66, ../sass/_modular-classes.scss */
label.label {
  background-image: url(../img/icons/icon-radio-sprite.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 76, ../sass/_modular-classes.scss */
input[type=radio].image-radio + label.label {
  margin: 0 25px 0 0;
  padding: 0 0 0 23px;
}

/* line 81, ../sass/_modular-classes.scss */
input[type=radio].text-radio:checked + label.text-label {
  text-decoration: underline;
  color: #a7a9ac;
}

/* line 86, ../sass/_modular-classes.scss */
label.text-label {
  color: #0266b3;
  -moz-transition: color 300ms ease-in;
  -o-transition: color 300ms ease-in;
  -webkit-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
  margin: 0 8px;
  line-height: 14px;
}

/* line 93, ../sass/_modular-classes.scss */
label.text-label.last-label {
  margin: 0 0 0 8px;
}

/* line 99, ../sass/_modular-classes.scss */
input[type=text].search-input {
  outline: none;
  box-shadow: none;
  border: 1px solid #eeeeee;
  width: 75%;
  height: 35px;
  line-height: 35px;
  padding: 0 14px;
  display: block;
  float: left;
  color: #a7a9ac;
  -webkit-appearance: none;
}
/* line 2, ../sass/_mixins.scss */
input[type=text].search-input ::-webkit-input-placeholder {
  color: #a7a9ac;
}
/* line 6, ../sass/_mixins.scss */
input[type=text].search-input :-moz-placeholder {
  color: #a7a9ac;
}
/* line 10, ../sass/_mixins.scss */
input[type=text].search-input ::-moz-placeholder {
  color: #a7a9ac;
}
/* line 14, ../sass/_mixins.scss */
input[type=text].search-input :-ms-input-placeholder {
  color: #a7a9ac;
}

/* line 114, ../sass/_modular-classes.scss */
input[type=submit].search-submit {
  outline: none;
  box-shadow: none;
  width: 23%;
  background: transparent;
  box-shadow: none;
  outline: none;
  border: 1px solid #a7a9ac;
  cursor: pointer;
  color: #a7a9ac;
  text-transform: uppercase;
  display: block;
  float: right;
  line-height: 31px;
  -webkit-appearance: none;
  border-radius: none;
  border-radius: 0;
}

/* line 134, ../sass/_modular-classes.scss */
.avatar-box {
  margin: 0 auto;
  display: block;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  font-size: 10px;
}
/* line 143, ../sass/_modular-classes.scss */
.avatar-box-image {
  width: 100%;
}

/* line 148, ../sass/_modular-classes.scss */
.avatar-box--big {
  width: 85px;
  height: 85px;
}

/* line 156, ../sass/_modular-classes.scss */
.question-stats-list li, .profile-stats-list li {
  font-family: "Amiri", serif;
  font-style: italic;
  font-size: 16px;
  line-height: 17px;
  margin: 0 0 46px 0;
}
/* line 163, ../sass/_modular-classes.scss */
.question-stats-list li:last-child, .profile-stats-list li:last-child {
  margin: 0;
}
/* line 167, ../sass/_modular-classes.scss */
.question-stats-list li span, .profile-stats-list li span {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  margin: 0 3px 0 0;
  font-size: 14px;
}

/* line 178, ../sass/_modular-classes.scss */
.load-more {
  cursor: pointer;
  display: inline-block;
  color: #e0173f;
}

/* line 187, ../sass/_modular-classes.scss */
.vote p {
  display: inline-block;
  vertical-align: middle;
  font-family: "Amiri", serif;
  font-size: 16px;
  line-height: 18px;
  font-style: italic;
  margin: 0 26px 0 0;
  padding: 4px 0 0 0;
  width: 40%;
}
/* line 198, ../sass/_modular-classes.scss */
.vote p .number {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  margin: 0 8px 0 0;
}
/* line 205, ../sass/_modular-classes.scss */
.vote-buttons-container {
  display: inline-block;
  vertical-align: middle;
}
/* line 209, ../sass/_modular-classes.scss */
.vote-buttons-container .vote-result {
  display: inline-block;
  vertical-align: middle;
}
/* line 214, ../sass/_modular-classes.scss */
.vote-buttons-container .button-like, .vote-buttons-container .button-dislike {
  display: block;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -moz-transition: all 300ms eas-in;
  -o-transition: all 300ms eas-in;
  -webkit-transition: all 300ms eas-in;
  transition: all 300ms eas-in;
  background: url("../img/icons/icon-traingle.png") no-repeat;
  width: 10px;
  height: 10px;
}
/* line 228, ../sass/_modular-classes.scss */
.vote-buttons-container .button-dislike {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 232, ../sass/_modular-classes.scss */
.vote-buttons-container .button-like {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin: 0 0 13px 0;
}

/* line 241, ../sass/_modular-classes.scss */
.answer-button, .comment-button {
  position: absolute;
  cursor: pointer;
  background: #fff;
  text-align: center;
  padding: 0 31px;
  z-index: 4;
  bottom: -17px;
  font-size: 17px;
  line-height: 30px;
  left: 50%;
  border: 1px solid #eeeeee;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 256, ../sass/_modular-classes.scss */
.answer-button p span, .comment-button p span {
  text-transform: uppercase;
}

/* line 263, ../sass/_modular-classes.scss */
.mobile-show, .question-detailed-info .column.hide {
  display: none;
}

/* line 1, ../sass/page_shared_components/_header.scss */
.header {
  width: 100%;
  position: relative;
  height: auto;
  padding: 10px 0;
  -moz-box-shadow: 0 24px 10px -19px #f7f7f7;
  -webkit-box-shadow: 0 24px 10px -19px #f7f7f7;
  box-shadow: 0 24px 10px -19px #f7f7f7;
}
/* line 16, ../sass/page_shared_components/_header.scss */
.header .top-bar {
  padding: 32px 0 8px 0;
}
/* line 20, ../sass/page_shared_components/_header.scss */
.header .icon-go-back {
  position: absolute;
}
/* line 24, ../sass/page_shared_components/_header.scss */
.header .add-question-box {
  width: 46%;
  float: left;
}
/* line 29, ../sass/page_shared_components/_header.scss */
.header .search-icon {
  display: none;
  width: 40px;
  height: 40px;
  float: right;
  margin: 3px 0 0 17px;
  cursor: pointer;
}
/* line 38, ../sass/page_shared_components/_header.scss */
.header .filters-box {
  float: left;
  width: 54%;
  padding: 19px 0 0 0;
  text-align: right;
}
/* line 45, ../sass/page_shared_components/_header.scss */
.header .post-time-activity-info {
  font-size: 16px;
  width: 54%;
  float: left;
  padding: 16px 8px 0 0;
  line-height: 22px;
}
/* line 52, ../sass/page_shared_components/_header.scss */
.header .post-time-activity-info p {
  float: right;
  font-family: "Amiri", serif;
  font-style: italic;
}
/* line 57, ../sass/page_shared_components/_header.scss */
.header .post-time-activity-info p .number {
  font-style: normal;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 4px;
}
/* line 65, ../sass/page_shared_components/_header.scss */
.header .question-type {
  float: left;
  width: 64%;
  text-align: left;
}
/* line 71, ../sass/page_shared_components/_header.scss */
.header .question-views {
  float: left;
  width: 36%;
}
/* line 75, ../sass/page_shared_components/_header.scss */
.header .question-views span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 22px;
  font-family: "Amiri", serif;
  font-style: italic;
}
/* line 87, ../sass/page_shared_components/_header.scss */
.header .bottom-bar {
  padding: 8px 0 11px 0;
}

/* line 95, ../sass/page_shared_components/_header.scss */
.header--question-expanded .top-bar {
  padding: 23px 0 31px 0;
}
/* line 99, ../sass/page_shared_components/_header.scss */
.header--question-expanded .icon-go-back {
  top: 33px;
  left: 5%;
}

/* line 107, ../sass/page_shared_components/_header.scss */
.header--questions-list .icon-go-back {
  top: 42px;
  left: 5%;
}

/* line 2, ../sass/_pages.scss */
.questions-wrapper {
  width: 100%;
  -moz-box-shadow: 10px -2px 14px -18px rgba(0, 0, 0, 0.75), -14px 1px 17px -22px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px -2px 14px -18px rgba(0, 0, 0, 0.75), -14px 1px 17px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 10px -2px 14px -18px rgba(0, 0, 0, 0.75), -14px 1px 17px -22px rgba(0, 0, 0, 0.75);
}

/* line 8, ../sass/_pages.scss */
.questions-list {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: calc(100vh - 168px);
  border-color: #ffe1ad;
  border-style: none solid solid solid;
  border-width: 0 40px 40px 40px;
  background: transparent;
}
/* line 18, ../sass/_pages.scss */
.questions-list .load-more {
  margin: 38px 0 39px 20px;
}

/* line 23, ../sass/_pages.scss */
.question {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  height: auto;
  min-height: 319px;
  position: relative;
  padding: 15px 0 0 21px;
  border-bottom: 2px solid #eeeeee;
}
/* line 33, ../sass/_pages.scss */
.question:before {
  position: absolute;
  display: block;
  content: "";
  background: #dff3fd;
  width: 599px;
  height: 278px;
  top: 0;
  left: -2px;
  z-index: 1;
}
/* line 45, ../sass/_pages.scss */
.question-status {
  position: absolute;
  z-index: 4;
  top: 258px;
  left: 29px;
  font-size: 12px;
  color: #a7a9ac;
  display: inline-block;
  text-transform: uppercase;
}
/* line 55, ../sass/_pages.scss */
.question-status:before {
  content: "";
  display: block;
  position: absolute;
  width: 220%;
  height: 1px;
  top: -9px;
  left: -19px;
  background: #a7a9ac;
}
/* line 67, ../sass/_pages.scss */
.question-main-info, .question-detailed-info, .question-content {
  position: relative;
  z-index: 2;
}
/* line 72, ../sass/_pages.scss */
.question-main-info {
  margin: 0 0 21px 0;
}
/* line 75, ../sass/_pages.scss */
.question-main-info .avatar-box {
  display: block;
  float: left;
  margin: 5px 39px 0 0;
}
/* line 82, ../sass/_pages.scss */
.question-author {
  display: block;
  font-size: 11px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 89, ../sass/_pages.scss */
.question-author span {
  color: #0266b3;
  font-size: 15px;
  font-weight: 700;
  margin: 0 7px 0 0;
  text-transform: none;
}
/* line 98, ../sass/_pages.scss */
.question-topic {
  color: #0266b3;
  font-family: "Amiri", serif;
  font-style: italic;
  font-size: 20px;
  line-height: 26px;
}
/* line 106, ../sass/_pages.scss */
.question-content-wrapper {
  width: 100%;
  height: 100%;
}
/* line 111, ../sass/_pages.scss */
.question-detailed-info, .question-content {
  background: #fff;
  height: 100%;
  float: right;
  min-height: 200px;
  width: 91%;
}
/* line 119, ../sass/_pages.scss */
.question-detailed-info .column, .question-content .column {
  display: block;
  float: left;
  width: 13%;
  text-align: center;
}
/* line 125, ../sass/_pages.scss */
.question-detailed-info .column:first-child, .question-content .column:first-child {
  width: 12%;
  margin: 0 10px 0 0;
}
/* line 131, ../sass/_pages.scss */
.question-detailed-info .column--question-stats, .question-content .column--question-stats {
  text-align: left;
}
/* line 135, ../sass/_pages.scss */
.question-detailed-info .column:last-child, .question-content .column:last-child {
  width: 26%;
  padding: 0 0 0 38px;
}
/* line 143, ../sass/_pages.scss */
.question-detailed-info .activities span:not(.activities-count), .question-content .activities span:not(.activities-count) {
  font-family: "Amiri", serif;
  font-style: italic;
  font-size: 17px;
  line-height: 14px;
}
/* line 151, ../sass/_pages.scss */
.question-detailed-info .activities-count, .question-content .activities-count {
  display: block;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 47px 0;
}
/* line 158, ../sass/_pages.scss */
.question-detailed-info .activity, .question-content .activity {
  background: #eeeeee;
  margin: 0 12px 0 0;
  padding: 21px 0 0 0;
  position: relative;
}
/* line 164, ../sass/_pages.scss */
.question-detailed-info .activity .avatar-box, .question-content .activity .avatar-box {
  display: block;
  clear: both;
  margin: 0 auto 53px auto;
}
/* line 173, ../sass/_pages.scss */
.question-detailed-info .activity hr, .question-content .activity hr {
  color: #a7a9ac;
  margin: 0 10px;
}
/* line 178, ../sass/_pages.scss */
.question-detailed-info .activity:after, .question-content .activity:after {
  content: "";
  display: block;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #a7a9ac;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: -6px;
  left: 50%;
}
/* line 191, ../sass/_pages.scss */
.question-detailed-info .activity span, .question-content .activity span {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  margin: 4px 0 5px 0;
  color: #a7a9ac;
  text-transform: uppercase;
}
/* line 202, ../sass/_pages.scss */
.question-detailed-info .activity--answer:after, .question-content .activity--answer:after {
  background: #000;
}
/* line 207, ../sass/_pages.scss */
.question-detailed-info .activity--answer span:before, .question-content .activity--answer span:before {
  background: #000;
}
/* line 215, ../sass/_pages.scss */
.question-detailed-info {
  padding: 34px 0 0 20px;
}
/* line 219, ../sass/_pages.scss */
.question-detailed-info .column:first-child {
  padding: 36px 0 0 0;
}
/* line 225, ../sass/_pages.scss */
.question-content {
  padding: 34px 0 0 0;
}
/* line 229, ../sass/_pages.scss */
.question-content .column:first-child {
  padding: 36px 21px 0 21px;
}

/* line 237, ../sass/_pages.scss */
.question-expanded-view {
  position: relative;
  z-index: 1;
  width: 100%;
  border-color: #ffe1ad;
  border-style: none solid none solid;
  border-width: 0 40px 0 40px;
  background: transparent;
  height: 100%;
  min-height: calc(100vh - 116px);
}
/* line 248, ../sass/_pages.scss */
.question-expanded-view .questions-wrapper {
  box-shadow: none;
}

/* line 253, ../sass/_pages.scss */
.question--expanded {
  min-height: 243px;
  margin: 0 0 10px 0;
  -moz-box-shadow: 13px 9px 35px -30px #525252;
  -webkit-box-shadow: 13px 9px 35px -30px #525252;
  box-shadow: 13px 9px 35px -30px #525252;
  border-bottom: none;
  position: relative;
}
/* line 260, ../sass/_pages.scss */
.question--expanded:before {
  height: 249px;
}
/* line 264, ../sass/_pages.scss */
.question--expanded .column {
  display: block;
  float: left;
  width: 12%;
  text-align: left;
}
/* line 270, ../sass/_pages.scss */
.question--expanded .column:first-child {
  width: 77%;
  padding: 27px 21px 0 21px;
  margin: 0;
}
/* line 276, ../sass/_pages.scss */
.question--expanded .column:last-child {
  width: 23%;
  padding: 17px 5px 0 5px;
}
/* line 282, ../sass/_pages.scss */
.question--expanded .unfollow {
  position: absolute;
  display: inline-block;
  float: right;
  color: #0266b3;
  font-weight: 700;
  top: 37px;
  right: 72px;
  z-index: 3;
}
/* line 293, ../sass/_pages.scss */
.question--expanded .question-content {
  padding: 0;
  min-height: 158px;
}
/* line 299, ../sass/_pages.scss */
.question--expanded .question-content .text p {
  font-size: 14px;
  line-height: 19px;
}

/* line 307, ../sass/_pages.scss */
.question-answers-container {
  padding: 48px 0 0 0;
}
/* line 310, ../sass/_pages.scss */
.question-answers-container .answers-summary {
  text-align: center;
  font-family: "Amiri", serif;
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
}
/* line 317, ../sass/_pages.scss */
.question-answers-container .answers-summary .number {
  font-style: normal;
  font-family: "Roboto Condensed", sans-serif;
}

/* line 324, ../sass/_pages.scss */
.question-discussion {
  margin: 14px 0 0 0;
}
/* line 327, ../sass/_pages.scss */
.question-discussion .column {
  float: left;
}
/* line 330, ../sass/_pages.scss */
.question-discussion .column:first-child {
  width: 12%;
  padding: 19px 0 9px 0;
  -moz-box-shadow: 0 24px 10px -19px #f7f7f7;
  -webkit-box-shadow: 0 24px 10px -19px #f7f7f7;
  box-shadow: 0 24px 10px -19px #f7f7f7;
  border-color: #f7f7f7;
  border-style: none none solid solid;
  border-width: 0 0 1px 1px;
  padding: 18px 0 0 0;
}
/* line 340, ../sass/_pages.scss */
.question-discussion .column:last-child {
  width: 88%;
  border-color: #a7a9ac;
  border-style: none none solid solid;
  border-width: 0 0 1px 1px;
  min-height: 100px;
  padding: 14px 0 20px 15px;
  -moz-box-shadow: 0 24px 10px -19px #f7f7f7;
  -webkit-box-shadow: 0 24px 10px -19px #f7f7f7;
  box-shadow: 0 24px 10px -19px #f7f7f7;
}
/* line 351, ../sass/_pages.scss */
.question-discussion .answer {
  -moz-box-shadow: 8px -7px 16px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px -7px 16px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 8px -7px 16px -14px rgba(0, 0, 0, 0.75);
  margin: 0 0 39px 0;
}
/* line 355, ../sass/_pages.scss */
.question-discussion .answer:last-child {
  margin: 0 0 60px 0;
}
/* line 362, ../sass/_pages.scss */
.question-discussion .answer.no-comment .column:last-child {
  border-color: transparent transparent #f7f7f7 #a7a9ac;
  border-style: none none solid solid;
  border-width: 0 0 1px 1px;
  min-height: 100px;
  -moz-box-shadow: 0 24px 10px -19px #f7f7f7;
  -webkit-box-shadow: 0 24px 10px -19px #f7f7f7;
  box-shadow: 0 24px 10px -19px #f7f7f7;
}
/* line 375, ../sass/_pages.scss */
.question-discussion .answer .author {
  display: block;
  font-size: 11px;
  line-height: 20px;
  text-transform: uppercase;
}
/* line 381, ../sass/_pages.scss */
.question-discussion .answer .author span {
  color: #0266b3;
  font-size: 15px;
  font-weight: 700;
  margin: 0 7px 0 0;
  text-transform: none;
}
/* line 390, ../sass/_pages.scss */
.question-discussion .answer .text {
  font-size: 16px;
  line-height: 22px;
}
/* line 396, ../sass/_pages.scss */
.question-discussion .answer-content, .question-discussion .comment-content {
  display: flex;
}
/* line 400, ../sass/_pages.scss */
.question-discussion .comments-list {
  margin: 0 0 0 12%;
}
/* line 408, ../sass/_pages.scss */
.question-discussion .comment .column:first-child {
  padding: 19px 0 0 0;
  width: 14%;
}
/* line 414, ../sass/_pages.scss */
.question-discussion .comment .column:last-child {
  width: 86%;
  border-bottom: 1px solid #f7f7f7;
}
/* line 421, ../sass/_pages.scss */
.question-discussion .answer-info, .question-discussion .comment-info {
  float: left;
  width: 100%;
}
/* line 425, ../sass/_pages.scss */
.question-discussion .answer-info p, .question-discussion .comment-info p {
  font-size: 14px;
  line-height: 18px;
}
/* line 430, ../sass/_pages.scss */
.question-discussion .answer-info .author, .question-discussion .comment-info .author {
  font-size: 11px;
  color: #a7a9ac;
  margin: 0;
}
/* line 435, ../sass/_pages.scss */
.question-discussion .answer-info .author span, .question-discussion .comment-info .author span {
  margin: 0 5px 0 0;
}
/* line 439, ../sass/_pages.scss */
.question-discussion .answer-info .author .publish-date, .question-discussion .comment-info .author .publish-date {
  font-family: "Amiri", serif;
  font-style: italic;
  font-weight: 400;
  position: relative;
  margin: 0 0 0 24px;
  color: #000;
}
/* line 447, ../sass/_pages.scss */
.question-discussion .answer-info .author .publish-date:before, .question-discussion .comment-info .author .publish-date:before {
  content: "\b7";
  position: absolute;
  display: block;
  font-size: 16px;
  top: 4px;
  left: -15px;
  color: #a7a9ac;
}
/* line 460, ../sass/_pages.scss */
.question-discussion .answer-info {
  width: 76%;
}
/* line 463, ../sass/_pages.scss */
.question-discussion .answer-info p {
  margin: 11px 0 0 0;
}
/* line 468, ../sass/_pages.scss */
.question-discussion .answer-text {
  display: block;
  clear: right;
  float: left;
  width: 76%;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0 0 0;
}
/* line 478, ../sass/_pages.scss */
.question-discussion .comment-text {
  width: 72%;
  margin: 12px 0 34px 0;
  clear: right;
  float: left;
}
/* line 484, ../sass/_pages.scss */
.question-discussion .comment-text p {
  font-size: 14px;
  line-height: 18px;
}
/* line 491, ../sass/_pages.scss */
.question-discussion .vote {
  width: 24%;
  float: left;
  padding: 0 0 0 14px;
}
/* line 497, ../sass/_pages.scss */
.question-discussion .no-comment, .question-discussion .has-comment {
  position: relative;
}

/* line 503, ../sass/_pages.scss */
.profile-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 22px 0 0 0;
  overflow-y: scroll;
  display: none;
}
/* line 518, ../sass/_pages.scss */
.profile-wrap .container {
  width: 900px;
}
/* line 523, ../sass/_pages.scss */
.profile-wrap .container-inner {
  display: block;
  height: 100%;
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
}

/* line 532, ../sass/_pages.scss */
.profile {
  background: #fff;
  padding: 49px 0 30px 0;
  margin: 0 0 100px 0;
  position: relative;
}
/* line 538, ../sass/_pages.scss */
.profile .close-icon {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}
/* line 545, ../sass/_pages.scss */
.profile h2 {
  text-transform: uppercase;
  color: #a7a9ac;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
/* line 554, ../sass/_pages.scss */
.profile .name {
  margin: 15px 0 5px 0;
  color: #0266b3;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
/* line 566, ../sass/_pages.scss */
.profile .activity .column {
  display: inline-block;
  vertical-align: middle;
  margin: 0 48px 0 0;
}
/* line 571, ../sass/_pages.scss */
.profile .activity .column:last-child {
  margin: 0;
}
/* line 576, ../sass/_pages.scss */
.profile .activity br {
  display: none;
}
/* line 580, ../sass/_pages.scss */
.profile .activity .member-for, .profile .activity .last-activity, .profile .activity .activity-level {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #a7a9ac;
  display: inline-block;
  vertical-align: middle;
  word-spacing: 0.19em;
}
/* line 589, ../sass/_pages.scss */
.profile .activity .member-for .number, .profile .activity .member-for .time, .profile .activity .member-for .day, .profile .activity .member-for .day-time, .profile .activity .last-activity .number, .profile .activity .last-activity .time, .profile .activity .last-activity .day, .profile .activity .last-activity .day-time, .profile .activity .activity-level .number, .profile .activity .activity-level .time, .profile .activity .activity-level .day, .profile .activity .activity-level .day-time {
  color: #000;
  text-transform: none;
}
/* line 595, ../sass/_pages.scss */
.profile .activity .activity-level, .profile .activity .activity-icons {
  display: inline-block;
  vertical-align: middle;
}
/* line 600, ../sass/_pages.scss */
.profile .activity .activity-icons {
  margin: 0 0 0 8px;
}
/* line 603, ../sass/_pages.scss */
.profile .activity .activity-icons img {
  margin: 4px 6px 0 0;
}
/* line 606, ../sass/_pages.scss */
.profile .activity .activity-icons img:last-child {
  margin: 0;
}
/* line 613, ../sass/_pages.scss */
.profile hr {
  margin: 17px 0;
}
/* line 617, ../sass/_pages.scss */
.profile .article-slider {
  text-align: center;
  position: relative;
}
/* line 621, ../sass/_pages.scss */
.profile .article-slider .slider-btn {
  display: block;
  position: absolute;
  top: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: url("../img/icons/icon-arrow.png") no-repeat center center #0266b3;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
}
/* line 632, ../sass/_pages.scss */
.profile .article-slider .slider-btn:hover {
  background: url("../img/icons/icon-arrow.png") no-repeat center center #a7a9ac;
}
/* line 637, ../sass/_pages.scss */
.profile .article-slider .btn-before {
  left: 2px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 642, ../sass/_pages.scss */
.profile .article-slider .btn-after {
  right: 2px;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 650, ../sass/_pages.scss */
.profile .article-slider h2 {
  font-family: "Amiri", serif;
  font-size: 42px;
  line-height: 47px;
  font-style: italic;
  margin: 0 0 27px 0;
  text-transform: none;
  color: #000;
}
/* line 660, ../sass/_pages.scss */
.profile .article-slider p {
  text-transform: uppercase;
  color: #a7a9ac;
  font-size: 16px;
  line-height: 20px;
}
/* line 668, ../sass/_pages.scss */
.profile .stats {
  text-align: center;
}
/* line 672, ../sass/_pages.scss */
.profile-stats-list {
  display: inline-block;
  width: auto;
  text-align: center;
  margin: 45px auto 0 auto;
}
/* line 678, ../sass/_pages.scss */
.profile-stats-list li {
  display: block;
  float: left;
  height: 91px;
  width: 91px;
  text-align: center;
  padding: 15px 0;
  position: relative;
  overflow: visible;
  z-index: 10;
  margin: 0 24px 0 0;
}
/* line 690, ../sass/_pages.scss */
.profile-stats-list li:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background: #dff3fd;
  z-index: -1;
}
/* line 702, ../sass/_pages.scss */
.profile-stats-list li span {
  display: block;
  clear: both;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 9px 0;
}
/* line 714, ../sass/_pages.scss */
.profile-stats-list li:first-child:before {
  -moz-transform: rotate(52deg);
  -ms-transform: rotate(52deg);
  -webkit-transform: rotate(52deg);
  transform: rotate(52deg);
}
/* line 721, ../sass/_pages.scss */
.profile-stats-list li:nth-child(2):before {
  -moz-transform: rotate(81deg);
  -ms-transform: rotate(81deg);
  -webkit-transform: rotate(81deg);
  transform: rotate(81deg);
}
/* line 728, ../sass/_pages.scss */
.profile-stats-list li:nth-child(3):before {
  -moz-transform: rotate(56deg);
  -ms-transform: rotate(56deg);
  -webkit-transform: rotate(56deg);
  transform: rotate(56deg);
}
/* line 735, ../sass/_pages.scss */
.profile-stats-list li:last-child:before {
  -moz-transform: rotate(101deg);
  -ms-transform: rotate(101deg);
  -webkit-transform: rotate(101deg);
  transform: rotate(101deg);
}
/* line 742, ../sass/_pages.scss */
.profile .additional-info {
  margin: 59px 0 0 0;
}
/* line 745, ../sass/_pages.scss */
.profile .additional-info .users {
  text-align: center;
  margin: 15px 0 0 0;
}
/* line 749, ../sass/_pages.scss */
.profile .additional-info .users .user {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 0 0;
  width: 90px;
  min-height: 130px;
  height: auto;
}
/* line 758, ../sass/_pages.scss */
.profile .additional-info .users .avatar-wrapper {
  width: 90px;
  height: 90px;
  background: repeating-linear-gradient(45deg, #fff, #fff 5px, #eeeeee 0, #eeeeee 6px);
  padding: 19px 0;
}
/* line 765, ../sass/_pages.scss */
.profile .additional-info .users .name {
  font-size: 16px;
  line-height: 17px;
  margin: 9px 11px;
}
/* line 773, ../sass/_pages.scss */
.profile .trending-discussion {
  margin: 32px 0 20px 0;
  text-align: center;
}
/* line 777, ../sass/_pages.scss */
.profile .trending-discussion h2 {
  margin: 0 0 49px 0;
}
/* line 781, ../sass/_pages.scss */
.profile .trending-discussion .content {
  position: relative;
  padding: 42px 0;
  background: repeating-linear-gradient(45deg, #fff, #fff 5px, #eeeeee 0, #eeeeee 6px);
}
/* line 786, ../sass/_pages.scss */
.profile .trending-discussion .content .avatar-box {
  position: absolute;
  top: -25px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 793, ../sass/_pages.scss */
.profile .trending-discussion .content .author {
  text-transform: uppercase;
  color: #a7a9ac;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 2px 0;
}
/* line 800, ../sass/_pages.scss */
.profile .trending-discussion .content .author span {
  text-transform: none;
  color: #0266b3;
}
/* line 806, ../sass/_pages.scss */
.profile .trending-discussion .content .title {
  font-family: "Amiri", serif;
  color: #0266b3;
  font-style: italic;
  text-transform: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  margin: 0 0 10px 0;
}
/* line 817, ../sass/_pages.scss */
.profile .trending-discussion .content .question-stats-list {
  margin: 26px 0 0 0;
}
/* line 820, ../sass/_pages.scss */
.profile .trending-discussion .content .question-stats-list li {
  display: inline-block;
  font-size: 19px;
  line-height: 24px;
  margin: 0 21px 0 0;
}
/* line 826, ../sass/_pages.scss */
.profile .trending-discussion .content .question-stats-list li span {
  font-weight: 700;
  font-size: 17px;
}

@media screen and (max-width: 991px) {
  /* line 4, ../sass/_queries.scss */
  .container {
    width: 768px;
  }

  /* line 10, ../sass/_queries.scss */
  .profile-wrap .container {
    width: 768px;
  }
  /* line 14, ../sass/_queries.scss */
  .profile-wrap .container-inner {
    width: 100%;
    padding: 0 15px;
  }

  /* line 23, ../sass/_queries.scss */
  .header .filters-box {
    width: 100%;
  }
  /* line 27, ../sass/_queries.scss */
  .header .question-type, .header .question-views {
    width: 50%;
  }
  /* line 31, ../sass/_queries.scss */
  .header .question-type {
    text-align: left;
  }
  /* line 35, ../sass/_queries.scss */
  .header .question-views {
    text-align: right;
  }
  /* line 39, ../sass/_queries.scss */
  .header input[type=text].search-input {
    width: 74%;
  }
  /* line 43, ../sass/_queries.scss */
  .header .icon-go-back {
    position: static;
    float: left;
  }

  /* line 51, ../sass/_queries.scss */
  .header--question-expanded .icon-go-back, .header--questions-list .icon-go-back {
    margin: 0 38px 0 20px;
  }
  /* line 55, ../sass/_queries.scss */
  .header--question-expanded .add-question-box, .header--questions-list .add-question-box {
    width: 100%;
  }

  /* line 61, ../sass/_queries.scss */
  .questions-list {
    border: none;
  }

  /* line 67, ../sass/_queries.scss */
  .question:before {
    left: 0;
  }
  /* line 73, ../sass/_queries.scss */
  .question-main-info .avatar-box {
    margin: 5px 32px 0 0;
  }
  /* line 80, ../sass/_queries.scss */
  .question-detailed-info .column:last-child {
    width: 25%;
    padding: 0 0 0 20px;
  }
  /* line 86, ../sass/_queries.scss */
  .question .question-status {
    left: 27px;
  }
  /* line 89, ../sass/_queries.scss */
  .question .question-status:before {
    width: 200%;
    left: -16px;
  }

  /* line 98, ../sass/_queries.scss */
  .question--expanded .unfollow {
    right: 34px;
  }

  /* line 103, ../sass/_queries.scss */
  .question-expanded-view {
    border: none;
  }

  /* line 110, ../sass/_queries.scss */
  .profile .activity {
    text-align: center;
  }
  /* line 113, ../sass/_queries.scss */
  .profile .activity .column {
    display: block;
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 124, ../sass/_queries.scss */
  .container {
    width: 100%;
    padding: 0;
  }

  /* line 132, ../sass/_queries.scss */
  .header .filters-box {
    float: none;
    width: 100%;
    margin: 50px 0 0 0;
  }
  /* line 138, ../sass/_queries.scss */
  .header .add-question-box {
    width: 100%;
    margin: 0 0 20px 0;
  }
  /* line 143, ../sass/_queries.scss */
  .header .question-views, .header .question-type {
    width: 50%;
  }
  /* line 147, ../sass/_queries.scss */
  .header .question-views {
    text-align: right;
  }
  /* line 151, ../sass/_queries.scss */
  .header .bottom-bar {
    display: none;
    padding: 15px 0 11px 0;
  }
  /* line 156, ../sass/_queries.scss */
  .header .search-box-wrapper {
    padding: 0 10px;
  }
  /* line 159, ../sass/_queries.scss */
  .header .search-box-wrapper input[type=text].search-input {
    float: none;
    width: 100%;
    margin: 0 0 10px 0;
  }
  /* line 165, ../sass/_queries.scss */
  .header .search-box-wrapper input[type=submit].search-submit {
    float: none;
    margin: 0 auto;
    width: 100px;
  }
  /* line 172, ../sass/_queries.scss */
  .header .post-time-activity-info {
    display: none;
  }

  /* line 179, ../sass/_queries.scss */
  .header--questions-list .top-bar {
    padding: 23px 24px 8px 24px;
  }
  /* line 183, ../sass/_queries.scss */
  .header--questions-list .search-icon {
    display: inline-block;
  }

  /* line 190, ../sass/_queries.scss */
  .header--question-expanded .post-time-activity-info {
    display: none;
  }
  /* line 194, ../sass/_queries.scss */
  .header--question-expanded .top-bar {
    padding: 23px 0 0 24px;
  }

  /* line 200, ../sass/_queries.scss */
  .header--questions-list .icon-go-back, .header--question-expanded .icon-go-back {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    margin: 0 26px 0 -10px;
  }

  /* line 208, ../sass/_queries.scss */
  .question {
    padding: 15px 0 60px 0;
  }
  /* line 213, ../sass/_queries.scss */
  .question .column.activities {
    width: 22%;
    margin: 0 20 0 0;
  }
  /* line 218, ../sass/_queries.scss */
  .question .column:last-child {
    width: 40%;
    padding: 0 10px 0 0;
  }
  /* line 223, ../sass/_queries.scss */
  .question .column.mobile-hide {
    display: none;
  }
  /* line 229, ../sass/_queries.scss */
  .question:before {
    width: 100%;
  }
  /* line 233, ../sass/_queries.scss */
  .question-status {
    left: 37px;
  }
  /* line 237, ../sass/_queries.scss */
  .question-detailed-info {
    width: 86%;
    padding: 34px 0 0 20px;
  }
  /* line 242, ../sass/_queries.scss */
  .question-detailed-info hr {
    margin: 0 16px;
  }
  /* line 247, ../sass/_queries.scss */
  .question .activity--answer {
    width: 22%;
    margin: 0 36px 0 0;
  }
  /* line 252, ../sass/_queries.scss */
  .question .avatar-box {
    margin: 5px 40px 0 24px;
  }

  /* line 260, ../sass/_queries.scss */
  .question-expanded-view .question {
    padding: 15px 0 0 0;
  }
  /* line 265, ../sass/_queries.scss */
  .question-expanded-view .question .column:first-child, .question-expanded-view .question .column:last-child {
    width: 100%;
  }
  /* line 269, ../sass/_queries.scss */
  .question-expanded-view .question .column:last-child {
    text-align: right;
    padding: 20px 21px 37px 21px;
  }
  /* line 275, ../sass/_queries.scss */
  .question-expanded-view .question .question-content {
    width: 100%;
  }
  /* line 280, ../sass/_queries.scss */
  .question-expanded-view .question .question-main-info .avatar-box, .question-expanded-view .question .question-main-info .question-author {
    display: inline-block;
  }
  /* line 284, ../sass/_queries.scss */
  .question-expanded-view .question .question-main-info .question-author {
    margin: 10px 0 0 0;
  }
  /* line 288, ../sass/_queries.scss */
  .question-expanded-view .question .question-main-info .question-topic {
    display: block;
    clear: both;
    margin: 30px 0 0 0;
    border-top: 2px solid #fff;
    padding: 13px 24px 0 24px;
  }
  /* line 296, ../sass/_queries.scss */
  .question-expanded-view .question .question-main-info .text, .question-expanded-view .question .question-main-info .vote {
    width: 100%;
  }
  /* line 300, ../sass/_queries.scss */
  .question-expanded-view .question .question-main-info .avatar-box {
    margin: 5px 24px 0 24px;
  }
  /* line 305, ../sass/_queries.scss */
  .question-expanded-view .question .unfollow {
    bottom: 43px;
    left: 21px;
    top: initial;
    right: initial;
  }

  /* line 317, ../sass/_queries.scss */
  .question-discussion .column:first-child {
    display: none;
  }
  /* line 321, ../sass/_queries.scss */
  .question-discussion .column:last-child {
    width: 100%;
    border-left: none;
    padding: 14px 0 20px 0;
    border-color: #eeeeee;
  }
  /* line 329, ../sass/_queries.scss */
  .question-discussion .mobile-show {
    display: block;
    float: left;
    margin: 0 11px 0 15px;
  }
  /* line 335, ../sass/_queries.scss */
  .question-discussion .answer-info, .question-discussion .comment-info {
    width: 100%;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #eeeeee;
  }
  /* line 340, ../sass/_queries.scss */
  .question-discussion .answer-info .author, .question-discussion .comment-info .author {
    margin: 15px 0 0 0;
  }
  /* line 345, ../sass/_queries.scss */
  .question-discussion .comments-list {
    margin: 0 0 0 2%;
  }
  /* line 351, ../sass/_queries.scss */
  .question-discussion .comment .column:last-child {
    width: 100%;
  }
  /* line 357, ../sass/_queries.scss */
  .question-discussion .answer-text, .question-discussion .comment-text, .question-discussion .vote {
    width: 100%;
  }
  /* line 361, ../sass/_queries.scss */
  .question-discussion .answer-text, .question-discussion .comment-text {
    padding: 0 15px;
  }
  /* line 365, ../sass/_queries.scss */
  .question-discussion .comment-text {
    margin: 12px 0 9px 0;
  }
  /* line 369, ../sass/_queries.scss */
  .question-discussion .vote {
    text-align: right;
    padding: 10px 23px 0 23px;
  }

  /* line 375, ../sass/_queries.scss */
  .answer-button, .comment-button {
    padding: 0 11px;
    width: 56%;
  }

  /* line 381, ../sass/_queries.scss */
  .profile-wrap {
    padding: 0;
  }

  /* line 385, ../sass/_queries.scss */
  .profile {
    margin: 0;
  }
  /* line 388, ../sass/_queries.scss */
  .profile .close-icon {
    top: 2%;
    right: 4%;
  }
  /* line 395, ../sass/_queries.scss */
  .profile-stats-list li {
    margin: 0 19px 0 0;
  }
  /* line 398, ../sass/_queries.scss */
  .profile-stats-list li:before {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }
  /* line 402, ../sass/_queries.scss */
  .profile-stats-list li:nth-child(2) {
    margin: 0;
  }
  /* line 406, ../sass/_queries.scss */
  .profile-stats-list li:nth-child(3) {
    clear: left;
  }
  /* line 414, ../sass/_queries.scss */
  .profile .article-slider .slider-btn {
    top: -46px;
  }
  /* line 418, ../sass/_queries.scss */
  .profile .article-slider h2 {
    margin: 64px 0 27px 0;
  }
  /* line 425, ../sass/_queries.scss */
  .profile .activity br {
    display: block;
  }
  /* line 429, ../sass/_queries.scss */
  .profile .activity .column {
    margin: 6px 0 14px 0;
  }
  /* line 437, ../sass/_queries.scss */
  .profile .trending-discussion .content .question-stats-list li {
    display: block;
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 600px) {
  /* line 452, ../sass/_queries.scss */
  .header .question-views, .header .question-type {
    width: 100%;
    float: none;
    text-align: center;
  }
  /* line 458, ../sass/_queries.scss */
  .header .question-views {
    margin: 18px 0 0 0;
  }
  /* line 462, ../sass/_queries.scss */
  .header input[type=radio].image-radio + label.label {
    margin: 0 9px 0 0;
  }

  /* line 470, ../sass/_queries.scss */
  .question .column.activities {
    background: #eeeeee;
    width: 27%;
  }
  /* line 476, ../sass/_queries.scss */
  .question-detailed-info {
    width: 100%;
    display: flex;
  }
  /* line 481, ../sass/_queries.scss */
  .question-status {
    display: none;
  }
  /* line 487, ../sass/_queries.scss */
  .question-main-info .avatar-box {
    margin: 5px 20px 0 24px;
  }
  /* line 492, ../sass/_queries.scss */
  .question .activity--answer {
    width: 27%;
    margin: 0 20px 0 0;
  }
}
@media screen and (max-width: 390px) {
  /* line 504, ../sass/_queries.scss */
  .header--questions-list .search-icon {
    display: block;
    float: none;
    margin: 14px auto 0 auto;
  }
  /* line 512, ../sass/_queries.scss */
  .header--questions-list .add-question-box p {
    margin: 0 8px 0 0;
  }

  /* line 519, ../sass/_queries.scss */
  .header--questions-list .icon-go-back, .header--question-expanded .icon-go-back {
    margin: 0 7px 0 0;
  }
}
