.header {
	width: 100%;
	position: relative;
	height: auto;
	padding: 10px 0;
	@include box-shadow(0 24px 10px -19px #f7f7f7); 
	//HELLO:
	//I have noticed the shadow in the image, 
	//I just cannot recreate it 1x1 from png, 
	//at first it seems to be a very light border, 
	//but after looking at it in PS I see it is a gradiental color descend = shadow, 
	//that is why I have tried to make it look the same. That is the best I could do from a pixelated png.


	// top-bar-elements
	.top-bar {
		padding: 32px 0 8px 0;
	}

	.icon-go-back {
		position: absolute;
	}

	.add-question-box {
		width: 46%;
		float: left;
	}

	.search-icon {
		display: none;
		width: 40px;
		height: 40px;
		float: right;
		margin: 3px 0 0 17px;
		cursor: pointer
	}

	.filters-box {
		float: left;
		width: 54%;
		padding: 19px 0 0 0;
		text-align: right;
	}

	.post-time-activity-info  {
		font-size: 16px;
	    width: 54%;
	    float: left;
	    padding: 16px 8px 0 0;
	    line-height: 22px;

		p {
			float: right;
			font-family: $amiri;
			font-style: italic;

			.number {
				font-style: normal;
				font-family: $roboto;
				margin: 0 4px;
			}
		}
	}

	.question-type {
		float: left;
		width: 64%;
		text-align: left;
	}

	.question-views {
		float:left;
		width: 36%;

		span {
			display: inline-block;
			vertical-align: middle;
			font-size: 16px;
			line-height: 22px;
			font-family: $amiri;
			font-style: italic;
		}
	}


	// bottom-bar-elements
	.bottom-bar {
		padding: 8px 0 11px 0;
	}
}

// modifiers
.header--question-expanded {

	.top-bar {
		padding: 23px 0 31px 0;
	}

	.icon-go-back {
		top: 33px;
   		left: 5%;
	}
}

.header--questions-list {

	.icon-go-back {
		top: 42px;
   		left: 5%;
	}
}

